.container-fluid {
  padding: 0px;
}
body {
  background-color: rgb(231, 231, 231);
}
.navbar-nav .nav-item .dropdown-menu {
  width: 100%;
  left: 0;
}

.nav-item .dropdown-menu {
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
  color: #333;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar-nav .nav-item .white-background-subsection {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.nav-item:hover .white-background-subsection {
  display: flex;
}

.left-side-content {
  position: absolute;
  left: 0;
  padding-left: 10%;
  padding-top: 9%;
}

.left-side-content h1 {
  font-size: 60px;
  color: #333;
}

.left-side-content p {
  font-size: 18px;
  color: #666;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit:fill;
}
#hashtags {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}
.input-group-text{
  color: white;
}

@media (max-width: 767.98px) {
  .navbar {
    width: 100%;
    max-width: none;
  }
  .col-md-6 {
      width: 95%;
  }

  .right-side-content {
    padding-top: 350px;
  }

  /* Style for the drawer toggle button */
.drawer-toggle {
  position: relative;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Style for the collapsed drawer */
.collapse {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the drawer content */
#topRightDrawer .nav-link {
  color: #333;
}

/* Hover effect for drawer content */
#topRightDrawer .nav-link:hover {
  background-color: #f8f9fa;
}

}

